*.jar
instance/s1/logs/latest.log
*.log
instance/s1/eula.txt
*.log.gz
*.gz
instance/s1/permissions.yml
instance/s1/commands.yml
instance/s1/help.yml
instance/s1/usercache.json
instance/s1/config/paper-global.yml
instance/s1/plugins/bStats/config.yml
instance/s1/world/session.lock
instance/s1/world/datapacks/bukkit
instance/s1/world_nether/session.lock
instance/s1/world_the_end/session.lock
master/world/level.dat
master/world/uid.dat
master/world/data
master/world/entities
master/world/region
master/world_nether/level.dat
master/world_nether/uid.dat
master/world_nether/DIM-1/data
master/world_nether/DIM-1/entities
master/world_nether/DIM-1/region
master/world_the_end/uid.dat
master/world_the_end/DIM1/entities
master/world_the_end/DIM1/region
master/world_the_end/level.dat
master/world_the_end/DIM1/data
